.sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    text-decoration: underline;
  }
  